body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 15px;
}

html {
    background-color: rgb(69, 84, 116);
}

